$color-aqua: #12BBBC;
$color-blue: #00A4E3;
$color-green: #29B47D;
$color-lightgreen: #A1CD3A;
$color-orange: #F58124;
$color-pink: #EB4182;
$color-purple: #AC4F9F;
$color-red: #EF4723;
$color-mustard: #FDB91A;
$color-yellow: #DBE11D;

$space: 1em;